<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>BattleSheep game</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<h1>Sender</h1>
<form action="#" th:action="@{/}" th:object="${queueResolver}" method="post">
    <!--<p>Name: <input type="text" th:field="*{queueName}" /></p>-->
    <p><select th:field="*{queueName}">
        <option type="text"  value="PlayerRegistrationQueueTest">PlayerRegistrationQueueTest</option>
    </select></p>
    <p><input type="submit" value="Submit" /></p>
</form>


</body>
</html>