<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>BattleSheep game</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<h1>Send to queue:</h1>
<form action="#" th:action="@{/}" th:object="${queueResolver}" method="post">
    <!--<p>Name: <input type="text" th:field="*{queueName}" /></p>-->
    <p><select th:field="*{queueName}">
        <option type="text" value="">Select Queue</option>
        <option type="text" th:hidden="${queue.isNotConfigured()}" th:each="queue :${queues}" th:value="${queue}" th:text="${queue.getQueueNumber()} + ' ' + ${queue}"></option>
    </select></p>
    <p><input type="submit" value="Send" /></p>
    <p th:text="${objectSent}"></p>
</form>

</body>
</html>